	section {
	margin:0 auto;
	box-sizing:border-box;
	padding-bottom:20px;
	}
	#contents {
	width:1600px;
	margin:0 auto;
	}
	
	#profile{
	position:relative;
	float:right;
	width:350px;
	height:1000px;
	background:skyblue;
	margin:20px;
	border-radius:5px;
	text-align:center;
	}
	#profile .title{
	font-size:2em;
	border-bottom:1px solid #cccccc;
	background:#1e014f;
	border-radius: 5px 5px 0 0;
	color:white;
	height:70px;
	line-height:70px;
	}
	#profile .attendance{
	height:100px;
	background:white;
	}
	#profile .attendance a {
	width:200px;
	height:60px;
	line-height:60px;
	background:skyblue;
	border:5px solid #1f004d;
	border-radius:60px;
	margin-top:5px;
	font-size:2em;
	}
	#profile .information {
	margin-top:5px;
	height:400px;
	}
	#profile .information img{
	width:auto;
	height:auto;
	border-radius:200px;
	}
	#profile .information ul {
	list-style:none;
	overflow:hidden;
	text-align:center;
	}
	#profile .information ul li {
	float:left;
	height:40px;
	line-height:40px;
	width:120px;
	background:#cccccc;
	margin:5px;
	border-radius:5px;
	}
	.box {
	display:inline-block;
	margin:20px 0 0 20px;
	background:white;
	border-radius:5px;

	}
	#first-box {
	height:400px;
	width:400px;

	}
	
	#second-box {
	height:400px;
	width:760px;

	}
	
	#third-box {
	height:300px;
	width:1185px;

	}
	
	#fourth-box {
	height:300px;
	width:1185px;

	}